.editPostForm {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    max-width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    opacity: .9;
    background: radial-gradient(circle at 74% 81%, #f3ffff, #0c78b7);
}

.editClose {
    margin: 0px 0px 0px 90%;
    transition: all 0.4s;
}

.editClose:hover {
    transform: scale(1.3);
    transition: all 0.4s;
}

.editPostForm div + div {
    margin-top: 10px;
}

.editPostForm h2 {
    margin: 0;
    margin-bottom: 35px;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: rgba(1, 1, 1, 0.5)
}

.editPostForm input, .editPostForm textarea {
    width: 100%;
}

.input input {
    width: 250px;
    border-radius: 4px;
    border: 1px solid #80808087;
    font-size: 16px;
    padding: 5px;
    align-items: center;
    outline: none;
}

.input input:focus {
    box-shadow: 1px 1px 5px;
}

.textarea textarea {
    outline: none;
    border-radius: 4px;
    border: 1px solid #80808087;
    font-size: 16px;
    padding: 5px;
    align-items: center;
    width: 350px;
    height: 112px;
}

.textarea textarea:focus {
    box-shadow: 1px 1px 5px;
}